[submodule "dependencies/SDL3_mixer"]
	path = dependencies/SDL3_mixer
	url = https://github.com/libsdl-org/SDL_mixer.git
[submodule "dependencies/easing_functions"]
	path = dependencies/easing_functions
	url = https://github.com/thnhmai06/easing-functions.git
	branch = master
